$yellow: #FFDC00;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
body {
    font-family: 'Roboto', sans-serif;
    .top-nav-wrapper {
        padding: 0;
        .optional {
            height: 6vh;
            background: black;
            line-height: 6vh;
            border-bottom: solid 1px $yellow;
            color: white;
            text-align: center;
        }
        .top-nav {
            background: black;
            height: 8vh;
            .logo {
                height: 60%;
                top: 20%;
                background: url(../img/logo-OFFCORSS.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
    .content {
        height: auto;
        padding: 0;
        background: url(http://offcorss.vteximg.com.br/arquivos/back-new-offcorss-v2.jpg);
        .section1 {
            padding: 10vh 0;
            background: url(../img/banner.jpg);
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            .form-container {
                background: linear-gradient(135deg, #9fc0b7 0%, #9fc0b7 39%, #c7c8e7 100%);
                box-shadow: 10px 15px 0px white;
                overflow: hidden;
                .registration {
                    transition: all .3s ease;
                    right: 0;
                    .logo-white {
                        background: url(../img/logo-OFFCORSS-blanco.png);
                        height: 5vh;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-top: 3vh;
                        margin-bottom: 3vh;
                    }
                    input {
                        margin-top: 1vh;
                        height: 5vh;
                        transition: all .2s ease;
                        border-bottom: solid 2px transparent;
                        &.wrong {
                            border-bottom: solid 2px orangered;
                        }
                    }
                    label {
                        input {
                            height: inherit;
                            margin-top: 2.5vh;
                        }
                        a {
                            color: white;
                            transition: all .2s ease;
                        }
                        &.wrong {
                            a {
                                color: orangered;
                            }
                        }
                    }
                    button {
                        margin-top: 1vh;
                        margin-bottom: 7vh;
                        background: #01c2d1;
                        transition: all .3s ease;
                        border: none;
                        outline: none;
                        height: 6vh;
                        line-height: 6vh;
                        text-shadow: -2px 0px white;
                        &:hover {
                            background: lighten(#01c2d1, 5%);
                        }
                    }
                }
                .registration-done {
                    position: absolute;
                    left: 100%;
                    transition: all .3s ease;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    top: 35%;
                    text-transform: uppercase;
                    h1 {
                        font-weight: 100;
                    }
                }
                &.done {
                    .registration {
                        right: 100%;
                    }
                    .registration-done {
                        left: 0%;
                    }
                }
            }
        }
        .section2 {
            background: white;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            .banner-container {
                padding: 8vh 0;
                a {
                    padding: 0;
                    img {
                        padding: 0;
                        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                    }
                }
            }
        }
    }
    .footer {
        height: auto;
        background: black;
        .logo {
            height: 6vh;
            margin-top: 2vh;
            margin-bottom: 1vh;
            background: url(../img/logo-OFFCORSS.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .politics {
            h6 {
                color: white;
                text-decoration: underline;
                text-align: center;
                margin: 0;
                transition: all .2s ease;
                margin-bottom: 2vh;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}
